/* =================== GENERAL ================================== */
body {
  padding-top: 2rem;
  background-color: black;
  color: greenyellow;

}
h1 {
  margin-bottom: 8rem;
}
h1,
h3 {
  text-align: center;
  text-shadow: 1px 1px black;
}
button {
  width: 4rem;  
  border: 2px solid greenyellow;
  background-color: black;
  border-radius: 10px;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-bottom: 4rem;
  
  color: greenyellow;
  font-weight: bold;
}
body, .main-page, .board-page {
  transition: transform 0.2s ease-out;
  width: 30rem;
  position: absolute;
  top: 2rem;
  left: calc(50% - 15rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ================== MAIN PAGE ===================================== */
.main-page button {
  font-size: larger;
}

/* =================== SCORE ======================================= */
form{
  display:flex;
  align-items: center;
  margin-bottom: 1rem;
}
input{
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(83, 72, 72);
}
strong {
  margin: 0 0.5rem
}
/* =================== BOARD ======================================= */
.go-back{
  margin-bottom: -2rem;
}
.grid {
  padding-top: 0.08rem;
  margin: 3rem auto 1rem;
  border: 0.5px solid rgb(66, 73, 40);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(3 * 4.2rem);
  height: calc(3 * 4.2rem);
}
.cell {
  border: 0.5px solid rgb(66, 73, 40);
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-weight: bolder;
  font-size: 3.5rem;
  text-shadow: 1.5px 1.5px greenyellow;
}
.cell:active {
  transform: scale(0.95);
}

.one {
  color: rgb(49, 5, 5);
}
.two {
  color: rgb(19, 2, 46);
}
#playerone.highlight{
  background-color: rgb(49, 5, 5);
  color: greenyellow;
}
#playertwo.highlight{
  background-color: rgb(19, 2, 46);
  color: greenyellow;
}
.hidden{
  transform: scale(0);
}